   


body{
    background-color: rgb(75, 235, 235);
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 13px; */


}

img{
    border-radius: 23px;
    box-shadow: 12px 12px 22px;
}

.box2{
    border: 2px solid rgb(56, 235, 12);
    height: 33px;
    background-color: rgb(48, 226, 12);
}

.text{  
    position: absolute;
    /* display: inline-block; */
    font-size: 63px;
    color: rgb(207, 240, 197);
    text-decoration: none;
    letter-spacing: 43px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          
}



nav{
    background-color: rgb(218, 178, 255);
    font-family: 'Times New Roman', Times, serif;
    
   
    
}

nav ul{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:133px;
    font-size: 23px;
    /* color: rgb(0, 0, 0); */
    /* text-decoration: none; */
    


}

nav ul li{

    display: flex;
    cursor: pointer;
    /* color: rgb(0, 0, 0); */
    

}

ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}




  .main h1{
            display: flex;
            align-items: center;
            justify-content: center;
  }

    .main h2{
            display: flex;
            align-items: center;
            justify-content: center;
  }

  .main p{
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  